/gui/Debug
/gui/packages
/gui/x64
/gui/.vs
/datadriven/Debug
/datadriven/packages
/datadriven/x64
/datadriven/datadriven/Debug
/datadriven/datadriven/x64
/datadriven/.vs
/oldproject/Debug
/oldproject/packages
/oldproject/x64
/oldproject/.vs
/proyecto/Debug
/proyecto/packages
/proyecto/x64
/proyecto/.vs
/proyecto/test/Debug
/proyecto/test/x64
/proyecto/test/.vs
/jammer/Debug
/jammer/x64
/jammer/.vs
/Knotbag/Debug
/Knotbag/x64
/Knotbag/.vs
/Knotbag/packages
/Knotbag/allegro.log
/Knotbag/imgui.ini
/Knotbag/openedwindows.lua
/jeu/x64
/jeu/.vs
