/gui/Debug
/gui/packages
/gui/x64
/gui/.vs
/datadriven/Debug
/datadriven/packages
/datadriven/x64
/datadriven/datadriven/Debug
/datadriven/datadriven/x64
/datadriven/.vs
/oldproject/Debug
/oldproject/packages
/oldproject/x64
/oldproject/.vs
/proyecto/Debug
/proyecto/packages
/proyecto/x64
/proyecto/.vs
/proyecto/test/Debug
/proyecto/test/x64
/proyecto/test/.vs
