<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allegro" version="5.2.3.1" targetFramework="native" />
  <package id="AllegroDeps" version="1.7.0.0" targetFramework="native" />
  <package id="AntTweakBar" version="1.16.3" targetFramework="native" />
  <package id="AntTweakBar.redist" version="1.16.3" targetFramework="native" />
  <package id="boost" version="1.65.1.0" targetFramework="native" />
</packages>